################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/moondraft/bin/Debug/netstandard2.0
/moondraft/obj
/moondraft.Android/bin/Debug
/moondraft.Android/obj
/moondraft/bin/Release/netstandard2.0
/moondraft.Android/bin/Release
/.vs/moondraft/v16
/.vs/moondraft/DesignTimeBuild
/moondraft.sln.DotSettings.user
/default.realm
/default.realm.lock
